name: Rust

on:
  - push
  - pull_request

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Clippy
      run: cargo clippy --verbose
    - name: Run tests
      run: cargo test --verbose

  android:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
    - name: Install Android NDK
      uses: nttld/setup-ndk@v1
      id: setup-ndk
      with:
        ndk-version: r26d
        add-to-path: true
    - name: Install xbuild
      run: cargo install xbuild
    - name: Build Android APK
      run: x build --arch arm64 --platform android --release
      env:
        ANDROID_NDK_ROOT: ${{ steps.setup-ndk.outputs.ndk-path }}
    - name: Upload Android APK
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: android-apk
        path: target/x/release/android/arm64/*.apk
